@model Moviely.ViewModels.NewCustomerViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Customer.Name" class="control-label"></label>
                <input asp-for="Customer.Name" class="form-control" />
                <span asp-validation-for="Customer.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.BirthDate" class="control-label"></label>
                <input asp-for="Customer.BirthDate" class="form-control" />
                <span asp-validation-for="Customer.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Customer.isSubscribedToNewsLetter" /> @Html.DisplayNameFor(model => model.Customer.isSubscribedToNewsLetter)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Customer.MembershipTypeId" class="control-label"></label>
                @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipsTypes, "Id", "Name"), "Select a Membership" , new { @class = "form-select" })
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

